p{
    background-color: tomato;
    font-size: 23px;
    color: aliceblue;
    margin-top: 90px;
    margin-left: 90px;
    margin-right: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
