.made1{
    display: inline-flex;
   padding: 0px;
   margin: 0px;
    /* padding: 90px 180px; */
}
.made1 div{
    padding: 15px 65px;
}

.v1{
    height: 100px;
    color: red;
    border: 2px solid black;
}

h2{
    margin: 0px;
}
p{
    font-size: 25px;
}