body{
    font-size: 15px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar{
    background-color: aliceblue;
}
.navbar ul{
    overflow:auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 5px 5px;
}
.navbar li a{
    text-decoration: none;
    color: rgb(15, 8, 19);
}
.a1{
    background-color: #f5f5f5;
    display: flex;
}

/* .a3{
    display: inline-block;
    height: 200px;
    width: 200px;
    
}
.a3 img{
    display: flex;
    padding-inline: 679px;
    width: 823px;
    height: 419px;
}
.a2{
    width: 200px;
    padding-top: 155px;
    padding-left: 233px; */

    /* #a3 img{
        height: 200px;
        width: 200px;
        
    } */
    .a1{
        width: fit-content;
        margin-top: -35px;
        padding-top: 66px;
        padding-left: 100px;
    }
    .left{
        height: 470px;
        width: 519px;
        padding-left: 16px;
        margin: 0px;
    }
#right{
    height: 468px;
    width: 754px;
    padding-left: 124px;
}
.left h1{
    color:  #7719aa;
    font-size: 46px;
    padding-top: 96px;
    margin: 0px;
  
}
.left h2{
    /* color:  #7719aa; */
    padding-top: 0px;
    font-size: 37px;
    font-weight: 350;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
   

}

.left h4{
    font-weight: 450;
    margin: 17px 1px ;
}
.butt{
    background-color: #7719aa;
    color: white;
    padding: 15px 79px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.butt1{
    /* background-color: #7719aa; */
    /* border: 2px solid #7719aa transparent; */
    font-weight: 600;
    color: #7719aa;
    border: 2px solid #7719aa;
    padding: 15px 79px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.position{
    padding: 0;
    margin: 0;
    display:inline-flex;
}
/* .position-left{
    height: 369px;
    width: 339px;
} */
.position{
    margin-top: 62px;
    margin-bottom: 1px;
}
.position-left img{
    height: 334px;
    /* width: 660px;  */
    max-width: 100%;  
    padding-left: 65px;
}
.position-right{
    text-align: left;
    padding-left: 228px;
    width: 518px;
    padding-top: 85px;

}
.position-right h2{
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 15px;
}

.position-right p{
   margin: 0px;
}

.position1{
    padding: 0;
    margin: 0;
    display:inline-flex;
    background-color: #f5f5f5;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 450px;
}
.right1 img{
    height: 350px;
    width: 637px;
    padding-top: 100px;
    padding-left: 256px;
    /* background-color: #fff; */
}
.left1 h2{
    font-size: 34px;
    width: 552px;
    /* padding: 0px; */
    padding-top: 155px;
    padding-left: 90px;
    margin: 0px;
}

.left1 p{
    padding-left: 90px;
    width: 500px;
}

.position2{
    padding: 0;
    margin: 0;
    display:inline-flex;
}
.position2{
    margin-top: 30px;
    margin-bottom: 1px;
}

.left2 img{
    height: 334px;
    width: 640px; 
    max-width: 100%;  
    /* padding-left: 65px; */
    max-width: 113.3%;  
}

.right2{
    text-align: left;
    padding-left: 228px;
    width: 518px;
    padding-top: 85px;

}
.right2 h2{
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 0px;
}

.right2 p{
    /* font-size: 34px; */
    font-size: 16px;
    font-weight: 450;
    width: 600px;
    /* margin-bottom: 0px; */
}

hr{
    border-top: 1px solid #fff;
    font-weight: 350;
}

.position3{
    padding: 0;
    /* margin: 0; */
    margin-bottom: 65px;

}
.center{
    text-align: center;
    padding-top: 90px;
}
.center h2{
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
    padding-bottom: 32px;
}

.fix{
    display: flex;
    flex-wrap: wrap-reverse;
    /* padding-left: 256px;
    padding-right: 1px; */
    
    /* justify-content: center */
   
   
}

/*
.fix image{
    display: inline;
    grid-template-columns: 33px 33px 33px ;
} */

.fix div{
    margin-bottom: 65px;
    min-height: 40px;
    align-items: flex-end;
    justify-content: center;
    padding-left: 90px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 0px;
    /* align-items: center; */
    text-align: center;
    /* padding: 35px 0 5px; */
    margin-bottom: 60px;
    margin-top: 0px;
}

.fix h5{
    /* font-size: 26px; */
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.position4{
    padding: 0px;
    margin: 0px;
}

.l1{
    padding: 0px;
    margin: 0px; 
}
.lcenter{
    margin-top: 130px;
}

.lcenter h2{
    text-align: center;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 0px;
}
.l1center{
    text-align: center;
    width: 630px;
    padding-left: 440px;
}
.l1center p{
    margin-top: 10px;
}

.l2center{
    text-align: center;
    padding: 0px;
    margin-bottom: 50px;
}
.l2center a{
    color: #005da6;
    font-weight: 600;
    font-size: 16px;
}
.r1{
    /* padding: 0px; */
    margin: 0px;
    max-width: 100%;
    min-height: 213px;
    height: auto;
}
.r1 img{
    max-width: 80%;
    min-height: 213px;
    height: auto;
    align-items: center;
    /* min-width: 310px; */
    padding-left: 130px;
    margin-top: 10px;
}

.position5{
    /* padding-left: 40%; */
    margin-top: 160px;
    padding-left: 60px;
    margin-bottom: 110px;
}
.s1{
    margin: 0px;
    padding-left:520px;
}
.heading{
    text-align: center;
}
.heading h3{
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    /* text-align: center; */
    width: 400px;
    margin-bottom: 25px;
}

.heading-img{
    align-items: center;
    padding-left: 130px;
    margin-top: 0px;
}

.main-contain{
/* padding-inline-start: 20px  ; */
/* margin: 0px; */
margin-top: 32px;
padding-left: 415px;
}

.main-contain p{
    /* text-align:left; */
    margin-bottom: 0px;
    padding-bottom: 7px;
    line-height: 20px;
    font-size: 13px;
    text-align: left;
}

.main-contain #b1{
    margin: 0px;
    height: 30px;
    width: 600px;
    padding: 7px 10px;
    border: 2px solid rgba(0,0,0,.6);
}

.main-contain #b2{
    /* margin: 0px; */
    margin-top: 14px;
    height: 50px;
    width: 623px;
    /* padding: 7px 10px; */
    /* padding-top: 10px; */
    background: #7719aa !important;
    color: #fff !important;
    font-size: 15px;
    cursor: pointer;
}
.main-contain .e1{
    /* text-align: center; */
    padding-left: 195px;
}
.e1 p{
    font-size: 16px;
    margin-top: 7px;
}

.position6{
    /* padding: 0px; */
    margin: -15px;
    padding-left: 45px;
    /* align-items: center; */
    background-color: #2f2f2f;
    padding-top: 40px;
    padding-bottom: 90px;
}
.get1{
    text-align: center;

}
.get1 #b3 {
    color: #fff;
    font-size: 37px;
    line-height: 30px
    padding: 38px 0px 2px;
    font-weight: 600;
    margin-bottom:10px;

}
.get1 #b4{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px ;
}
.get1 input{
    background: #7719aa !important;
    color: #fff !important;
    min-width: 230px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    white-space: normal;
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}