body{
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}
.container{
    margin-top: 20px;
    padding: 0px;
}
.left-down{
    font-weight: 350;
    font-size: 16px;
}
.container-left{
    margin-top: 250px;
}

.left-down h1{
    font-weight: 400;
    color: rgb(53, 249, 183);
}

.left-down button{
    width: 200px;
    height: 50px;
    background-color: #00d09c;
    cursor: pointer;
    font-weight: 400;
    color: white;
    font-size: 18px;
}
.left-down h1,p,a{
    margin-bottom: 30px;
}
.marq{
    padding: 0px;
    margin: 0px;
}

.marq marquee{
    font-size: 26px;
    color: #00d09c;
    margin-top: 20px;
}
.container-left{
    margin-left: 100px;
    height: auto;
    width: 100%;
}


/* container of right side */

.container-rigth{
    /* background-color: red; */
    height: auto;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

.container{
    display: inline-flex;
    margin-left: 150px;
}
.container-rigth .right{
    display: inline-flex;
    background-color: rgb(242, 242, 238);
    height: 180px;
    width: 250px;
    font-weight: 500;
    /* padding-right: 10px; */
    /* margin-left: 10px; */
    cursor: pointer;
    margin-bottom: 20px;
    /* text-align: center; */
    align-items: center;
    box-shadow: 5px 5px 10px 8px;

}

svg{
    text-align: center;
    display:block;
    margin-left: 25px;
    /* padding-right: 5px; */
    margin-right: 5px;
}

.right p{
    /* display:grid; */
    text-align: center;
    padding-top: 25px;
    padding-left: 20px;
}

