body{
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}
.container{
    margin-top: 20px;
    padding: 0px;
}
.left-down{
    font-weight: 350;
    font-size: 16px;
}
.container-left{
    margin-top: 250px;
}

.left-down h1{
    font-weight: 400;
    color: rgb(53, 249, 183);
}

.left-down button{
    width: 200px;
    height: 50px;
    background-color: #00d09c;
    cursor: pointer;
    font-weight: 400;
    color: white;
    font-size: 18px;
}
.left-down h1,p,a{
    margin-bottom: 30px;
}
.marq{
    padding: 0px;
    margin: 0px;
}

.marq marquee{
    font-size: 26px;
    color: #00d09c;
    margin-top: 20px;
}
.container-left{
    margin-left: 100px;
    height: auto;
    width: 100%;
}


/* container of right side */

.container-rigth{
    /* background-color: red; */
    height: auto;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

.container{
    display: inline-flex;
    margin-left: 150px;
}
.container-rigth .right{
    display: inline-flex;
    background-color: rgb(242, 242, 238);
    height: 180px;
    width: 250px;
    font-weight: 500;
    /* padding-right: 10px; */
    /* margin-left: 10px; */
    cursor: pointer;
    margin-bottom: 20px;
    /* text-align: center; */
    align-items: center;
    box-shadow: 5px 5px 10px 8px;

}

svg{
    text-align: center;
    display:block;
    margin-left: 25px;
    /* padding-right: 5px; */
    margin-right: 5px;
}

.right p{
    /* display:grid; */
    text-align: center;
    padding-top: 25px;
    padding-left: 20px;
}

/* this is all the zero css style */

.our-product{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.our-product span{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.zero{
    display: inline-flex;
    margin-bottom: 50px;
}

.zero-left img{
    height: 500px;
    width: 700px;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.zero-right{
    margin-top: 200px;
    margin-left: 30px;
    font-family: Roboto,system-ui;
}

.zero-right span{
    display: inline-flex;
}

.zero-right h1{
    font-size: 80px;
    font-family: Roboto,system-ui;
}
.zero-right #z1{
    font-size: 40px;
   margin-top: 30px;
   margin-left: 10px;
}
.zero-right #z2{
    font-weight: 600;
}
.zero-right button{
    font-size: 26px;
    background-color: #00d09c ;
    color: white;
    border-radius: 3px;
    border-color: #00d09c;
}

button{
    cursor: pointer;
}